body{
    background-color: #bfbfc1;
}

.div-one{
    background-color: #e0e1e1;
    padding: 5px;
    margin: 30px;

}

.div-two{
    color: #ffffff;
    margin: 0px 30px;
}

.child-one{
    background-color: #2d83c5;
    padding: 5px;
}
.child-two{
    background-color: #2791d0;
    padding: 5px;
}
.child-three{
    background-color: #1e9dd8;
    padding: 5px;
}
.child-four{
    background-color: #33a7dd;
    padding: 5px;
}

.child-five{
    background-color: #57b5e6;
    padding: 5px;
}
.child-six{
    background-color: #70c0ec;
    padding: 5px;
}
.child-seven{
    background-color: #90ccef;
    padding: 5px;
}
.child-eight{
    background-color: #1ab585;
    padding: 5px;
}
.child-nine{
    background-color: #f6b0cd;
    padding: 5px;
}
.child-ten{
    background-color: #f39ec2;
    padding: 5px;
}
.child-eleven{
    background-color: #f38cb5;
    padding: 5px;
}
.child-twelve{
    background-color: #f279a5;
    padding: 5px;
}
.child-thirteen{
    background-color: #f06997;
    padding: 5px;
}
.child-fourteen{
    background-color: #f0578b;
    padding: 5px;
}
.child-fifteen{
    background-color: #ee347e;
    padding: 5px;
}